{% extends "base_generic.html" %}

{% block title %} 
Received Items List
{% endblock %}

{% load static %} 
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% block content %}
    <h1>Received Items List</h1>

    {% if received_item_list %}
        <ul>
            {% for received_item in received_item_list %}
                <li>
                    <a href="{{ received_item.get_absolute_url }}">{{ received_item.item.item_name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There is no received item in Kiosk.</p>
    {% endif %}
{% endblock %}